<?xml version="1.0" encoding="utf-8"?>
<configuration>

	<appSettings>
		<add key="aspnet:UseTaskFriendlySynchronizationContext" value="true"/>
	</appSettings>
	<system.web>
		<compilation debug="true" targetFramework="4.6.2"/>
		<httpRuntime targetFramework="4.6.2"/>
	</system.web>
	<system.serviceModel>
		<serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true"/>
  <bindings>
			<webHttpBinding>
				<binding name="webHttpBindingWithJsonP" crossDomainScriptAccessEnabled="true"/>
			</webHttpBinding>
		</bindings>
		<behaviors>
			<serviceBehaviors>
				<behavior>
					<!-- Para evitar revelar información de los metadatos, establezca los valores siguientes en false antes de la implementación -->
					<serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
					<!-- Para recibir detalles de las excepciones en los errores para la depuración, establezca el siguiente valor en true. Para no revelar información sobre las excepciones establézcalo en false antes de la implementación -->
					<serviceDebug includeExceptionDetailInFaults="true"/>
				</behavior>
			</serviceBehaviors>
			<endpointBehaviors>
				<behavior name="webHttpBehavior">
					<webHttp/>
				</behavior>
			</endpointBehaviors>
		</behaviors>
		<services>
			<service name="wcfVeterinaria.serviceAgenda">
				<endpoint address="http://localhost:55676/serviceAgenda.svc" binding="webHttpBinding" contract="wcfVeterinaria.IserviceAgenda" behaviorConfiguration="webHttpBehavior"/>
			</service>

		</services>
	</system.serviceModel>
	<system.webServer>
		<modules runAllManagedModulesForAllRequests="true"/>

		<directoryBrowse enabled="true"/>
	</system.webServer>

	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30AD4FE6B2A6AEED" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>
