<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <connectionStrings>
    <add name="vetConnectionString" connectionString="Data Source=.;Initial Catalog=vet;Persist Security Info=True;User ID=sa;Password=les123"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
	<system.serviceModel>
		<services>
			<service name="wcfVeterinaria.serviceAgenda">
				<endpoint address="http://localhost:55676/serviceAgenda.svc" binding="webHttpBinding" contract="wcfVeterinaria.IserviceAgenda" behaviorConfiguration="WebService"/>
			</service>
		</services>
		<behaviors>
			<serviceBehaviors>
				<behavior>
					<!-- Para evitar revelar información de los metadatos, establezca los valores siguientes en false antes de la implementación -->
					<serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
					<!-- Para recibir detalles de las excepciones en los errores para la depuración, establezca el siguiente valor en true. Para no revelar información sobre las excepciones establézcalo en false antes de la implementación -->
					<serviceDebug includeExceptionDetailInFaults="false"/>
				</behavior>
			</serviceBehaviors>
			<endpointBehaviors>
				<behavior name="WebService">
					<webHttp/>
				</behavior>
			</endpointBehaviors>
		</behaviors>
		<protocolMapping>
			<add binding="basicHttpsBinding" scheme="https"/>
		</protocolMapping>
	</system.serviceModel>
	<system.webServer>
		<modules runAllManagedModulesForAllRequests="true"/>
		<httpProtocol>
			<customHeaders>
				<add name="Access-Control-Allow-Origin" value="*"/>
				<add name="Access-Control-Allow-Headers" value="Content-Type, Accept"/>
			</customHeaders>
		</httpProtocol>
		<directoryBrowse enabled="true"/>
	</system.webServer>
	<system.web>
		<compilation debug="true"/>
	</system.web>

</configuration>
