USE [master]
GO
/****** Object:  Database [vet]    Script Date: 17/06/2023 19:04:58 ******/
CREATE DATABASE [vet]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'vet', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\vet.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'vet_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\vet_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [vet].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [vet]
GO
/****** Object:  Table [dbo].[AGENDA]    Script Date: 17/06/2023 19:04:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AGENDA](
	[IDCITA] [char](18) NOT NULL,
	[DESCRIPCION] [char](18) NULL,
	[FECHA] [datetime] NULL,
	[NOMBRECLIENTE] [varchar](100) NULL,
	[ESTADO] [int] NULL,
	[IDMOTIVO] [int] NULL,
 CONSTRAINT [XPKAGENDA] PRIMARY KEY CLUSTERED 
(
	[IDCITA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ALMACEN]    Script Date: 17/06/2023 19:04:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ALMACEN](
	[IDITEM] [int] NOT NULL,
	[NOMBRE] [varchar](100) NULL,
	[PRESENTACION] [varchar](100) NULL,
	[PRECIO] [money] NULL,
	[STOCK] [int] NULL,
	[ESTADO] [int] NULL,
 CONSTRAINT [XPKALMACEN] PRIMARY KEY CLUSTERED 
(
	[IDITEM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AUDITORIA]    Script Date: 17/06/2023 19:04:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AUDITORIA](
	[IDREGISTRO] [int] IDENTITY(1,1) NOT NULL,
	[DESCRIPCION] [char](18) NULL,
	[FECHA] [datetime] NULL,
	[IDUSUARIO] [int] NULL,
 CONSTRAINT [XPKAUDITORIA] PRIMARY KEY CLUSTERED 
(
	[IDREGISTRO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[estaUsu]    Script Date: 17/06/2023 19:04:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[estaUsu](
	[idEstado] [int] IDENTITY(1,1) NOT NULL,
	[estado] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[idEstado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MOTIVO]    Script Date: 17/06/2023 19:04:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MOTIVO](
	[IDMOTIVO] [int] NOT NULL,
	[DESCRIPCION] [char](50) NULL,
 CONSTRAINT [XPKMOTIVO] PRIMARY KEY CLUSTERED 
(
	[IDMOTIVO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tipoUsu]    Script Date: 17/06/2023 19:04:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tipoUsu](
	[idTipo] [int] IDENTITY(1,1) NOT NULL,
	[tipo] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[idTipo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USUARIOS]    Script Date: 17/06/2023 19:04:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USUARIOS](
	[IDUSUARIO] [int] IDENTITY(1,1) NOT NULL,
	[TIPOUSU] [int] NULL,
	[USUARIO] [char](50) NULL,
	[CONTRASEÑA] [char](15) NULL,
	[NOMBRECOMPLETO] [varchar](100) NULL,
	[CORREO] [char](80) NULL,
	[ESTADOUSUARIO] [int] NULL,
	[CELULAR] [char](12) NULL,
PRIMARY KEY CLUSTERED 
(
	[IDUSUARIO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AGENDA]  WITH CHECK ADD  CONSTRAINT [R_2] FOREIGN KEY([IDMOTIVO])
REFERENCES [dbo].[MOTIVO] ([IDMOTIVO])
GO
ALTER TABLE [dbo].[AGENDA] CHECK CONSTRAINT [R_2]
GO
ALTER TABLE [dbo].[AUDITORIA]  WITH CHECK ADD  CONSTRAINT [R_3] FOREIGN KEY([IDUSUARIO])
REFERENCES [dbo].[USUARIOS] ([IDUSUARIO])
GO
ALTER TABLE [dbo].[AUDITORIA] CHECK CONSTRAINT [R_3]
GO
ALTER TABLE [dbo].[USUARIOS]  WITH CHECK ADD FOREIGN KEY([ESTADOUSUARIO])
REFERENCES [dbo].[estaUsu] ([idEstado])
GO
ALTER TABLE [dbo].[USUARIOS]  WITH CHECK ADD FOREIGN KEY([TIPOUSU])
REFERENCES [dbo].[tipoUsu] ([idTipo])
GO
/****** Object:  StoredProcedure [dbo].[ObtenerEstado_Admin]    Script Date: 17/06/2023 19:04:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROC [dbo].[ObtenerEstado_Admin]
@usuario varchar(100),
@contraseña VARCHAR(100)
AS
SELECT A.ESTADOUSUARIO FROM USUARIOS A
WHERE a.USUARIO=@usuario AND a.CONTRASEÑA=@contraseña
GO
/****** Object:  StoredProcedure [dbo].[sp_ListarUsuario]    Script Date: 17/06/2023 19:04:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[sp_ListarUsuario]
as
begin
SELECT USUARIOS.IDUSUARIO,TIPOUSU.tipo, USUARIOS.Usuario, USUARIOS.CONTRASEÑA, USUARIOS.NOMBRECOMPLETO,USUARIOS.CORREO,estaUsu.Estado,USUARIOS.CELULAR
FROM USUARIOS 
INNER JOIN tipoUsu ON USUARIOS.TIPOUSU = tipoUsu.idTipo
inner join estaUsu on USUARIOS.ESTADOUSUARIO=estaUsu.idEstado
where Estado!='Eliminado'and Estado!='Inactivo'
end
GO
/****** Object:  StoredProcedure [dbo].[spListarEstado]    Script Date: 17/06/2023 19:04:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[spListarEstado]
as
select*from estaUsu
GO
/****** Object:  StoredProcedure [dbo].[spListarTipo]    Script Date: 17/06/2023 19:04:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[spListarTipo]
as
select*from tipoUsu
GO
USE [master]
GO
